        body {
            background-color: black;
        }
        
        .positionTitle {
            color: white;
        }
        
        .positionButton {
            color: white;
            background-color: rgb(49, 46, 46);
            padding: 3%;
        }
        
        .titleSections {
            color: white;
        }
        
        .mt-3 {
            margin-top: 3%;
        }